extends layout

block content
  div#container-load
    div#loading(style="opacity:1;")
      p SEDANG MENDOWNLOAD
  div#container-popup
    //- div.popup
    //-   div.text
    //-   input#check-box(type="checkbox") saya telah membaca dan setuju dengan kebijakan privasi dari shortcut-docx.
    //-   div.button-close
    //-     button(type="button") Close


  div.container-home(style="padding:0.5%;")
    textarea(spellcheck="false", name="text-input", cols="80", rows="20", placeholder="*Harap untuk memisahkan setiap teks dengan 1x enter.\n\n*Harap untuk mengisi teks lebih dari 10 kata atau 70 character\n\n*Untuk memasukan footnote silahkan pencet tombol copy di referensi button.\n\n ^Untuk mengulang referensi yang sama cukup tambahkan \"koma\" pada akhir nomor footnote dan tambahkan dengan nomor halaman. EX:\"-(footnote:1,21-25)-\".", style="padding: 20px; text-align: left;", onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}")#form-input
    form#form-post(action="/home", method="post")
      button.btn-home#btn-post(type="button", style="display:inline-block")
        p Download
      button.btn-home#btn-showref(type="button")
        p Referensi
      div.container-ads-home

    div.none(style="text-align: center; color: white; font-weight: bolder;")