extends layout

block content
  div.hero(style="color: white;")
    div.hero-parent
      div.container-txt
        h1=title
        div.line
        div.link-href
          a.scroll-link(href='#content1') Intro
          a.scroll-link(href='#content2') Cara Menggunakan
          a.scroll-link(href='#content3') Social Media
    
      //- div.ball
      div.container-prop
        div.parent-prop
          div.properti(style="animation-delay: 0.005s;")
        div.parent-prop
          div.properti(style="animation-delay: 0.2s;")
        div.parent-prop
          div.properti(style="animation-delay: 0.6s;")
        div.parent-prop
          div.properti(style="animation-delay: 1s;")
   

  div.content
    h1#content1 
      |Selamat datang di shortcut-docx
      div.text
        p.judul Halo para mahasiswa dan pengunjung!
        div.line
        p.child Kami dengan senang hati memperkenalkan shortcut-docx, sebuah alat inovatif yang dirancang khusus untuk mempermudah Anda dalam mengerjakan makalah. Shortcut-docx adalah solusi tepat bagi Anda yang menginginkan kemudahan dan efisiensi dalam menyiapkan tugas akademik.

        p.judul Kenapa memilih shortcut-docx?
        div.line
        p.child Shortcut-docx dibuat untuk membantu para mahasiswa agar dapat menyelesaikan makalah dengan lebih cepat dan lebih mudah. Tidak perlu lagi repot mengatur format dan detail makalah secara manual, karena kami yang akan melakukannya untuk Anda.

        p.judul Bagaimana cara kerjanya?
        div.line
        p.child Prosesnya sangat sederhana:
        ol.list
          li Masukkan materi yang ingin Anda sertakan dalam makalah.
          li Shortcut-docx akan mengolah materi tersebut menjadi template makalah yang sudah terformat dengan rapi.
          li Daftar pustaka dan catatan kaki akan disusun secara otomatis sesuai dengan standar akademik.

        p.judul Tujuan kami:
        div.line
        p.child Kami berkomitmen untuk mempermudah pekerjaan mahasiswa dalam pembuatan makalah, sehingga Anda bisa lebih fokus pada konten dan analisis, bukan pada format.

        p.judul Keuntungan:
        div.line
        ul.list-child
          li
            strong Hemat Waktu: 
            | Dengan shortcut-docx, bisa menghemat waktu dalam proses penulisan dan format makalah.
          li
            strong Mudah Digunakan: 
            | Akses shortcut-docx dari laptop maupun handphone dengan mudah.
          li
            strong Efisiensi Maksimal: 
            | Alat ini dirancang untuk memberikan kemudahan dan efisiensi dalam setiap langkah pembuatan makalah.

        p _  
        p _  
        p _  
        p _  
        p _  
        p _ 
        p 
        div.line

    h1#content2 Bagaimana Cara Menggunakan SHORTCUT-DOCX?
      div.text
        ol.list
          li
            | Untuk pengguna laptop/komputer, akan tampil pada bagian atas (navbar) yaitu home dan referensi, sedangkan untuk pengguna handphone, Anda akan melihat tombol garis 3. Jika Anda menekannya, maka Anda dapat melihat home dan referensi.
          li
            strong HOME
            p
              | Pada bagian home, Anda akan diperlihatkan dengan dua bagian yaitu tombol dan tempat memasukkan teks. Untuk memasukkan teks, tolong diperhatikan beberapa hal berikut:
            ul.list-child
              li Teks minimal yang boleh dimasukkan sekitar 10 kata atau 70 karakter, dan maksimalnya sekitar 100000 karakter atau 100MB.
              li
                | Setiap memasukkan teks seperti sub bab atau paragraf teks, tolong untuk diperhatikan memberi 1x enter untuk pemisah di antara mereka.
                p CONTOH:
          li 
            strong REFERENSI 
            p
              |Apabila Anda ingin memasukkan referensi atau catatan kaki, pertama-tama tekan tombol referensi di samping tombol download. Setelah itu, akan tampil semua referensi yang telah Anda masukkan sebelumnya di bagian referensi. Silakan cari referensi yang ingin Anda gunakan dan tekan tombol copy untuk menyalin kode referensinya. Setelah itu, arahkan kursor teks pada bagian yang Anda inginkan seperti akhir paragraf, pertengahan, atau pada poin materi. Setelah itu, Anda dapat menempelkan kode referensi tersebut. Untuk pengguna laptop/komputer, dapat menekan klik kanan pada touchpad atau mouse dan pilih "paste" atau dapat menggunakan shortcut Ctrl+V. Untuk pengguna handphone, dapat tekan dan tahan pada bagian yang ingin ditempel dan akan muncul popup, lalu pilih tempel/paste.
          li
            | Jika telah selesai memasukkan materi dan referensi, silakan tekan tombol download untuk mengunduh file makalah DOCX Anda dan silakan disesuaikan untuk bagian lainnya sesuai selera.
          li
            | Jika Anda tidak memahami dengan apa yang telah kami jelaskan tadi, Anda dapat mengunjungi sosial media kami untuk melihat video tutorial kami dan juga update informasi tentang shortcut-docx.
    h1#content3 Social Media
      div.text
        a YOUTUBE 
        a INSTAGRAM 
        a TIKTOK
        
  footer
    p SHORTCUT-DOCX