extends layout

block content
  div.hero(style="color: white;")
    div.hero-parent
      div.container-txt
        h1=title
        div.line
        div.link-href
          a.scroll-link(href='#content1') Intro
          a(href='/tutorial') Tutorial
          a(href='/tentang-kami') Social Media
          a(href='/home') AYO MULAI =>
    
      //- div.ball
      div.container-prop
        div.parent-prop
          div.properti(style="animation-delay: 0.005s;")
        div.parent-prop
          div.properti(style="animation-delay: 0.2s;")
        div.parent-prop
          div.properti(style="animation-delay: 0.6s;")
        div.parent-prop
          div.properti(style="animation-delay: 1s;")
   

  div.content
    h1#content1 
      |Selamat datang di shortcut-docx
      div.text
        p.judul Halo para mahasiswa dan pengunjung!
        div.line
        p.child Kami dengan senang hati memperkenalkan shortcut-docx, sebuah alat inovatif yang dirancang khusus untuk mempermudah Anda dalam mengerjakan makalah. Shortcut-docx adalah solusi tepat bagi Anda yang menginginkan kemudahan dan efisiensi dalam menyiapkan tugas akademik.

        p.judul Kenapa memilih shortcut-docx?
        div.line
        p.child Shortcut-docx dibuat untuk membantu para mahasiswa agar dapat menyelesaikan makalah dengan lebih cepat dan lebih mudah. Tidak perlu lagi repot mengatur format dan detail makalah secara manual, karena kami yang akan melakukannya untuk Anda.

        p.judul Bagaimana cara kerjanya?
        div.line
        p.child Prosesnya sangat sederhana:
        ol.list
          li Masukkan materi yang ingin Anda sertakan dalam makalah.
          li Shortcut-docx akan mengolah materi tersebut menjadi template makalah yang sudah terformat dengan rapi.
          li Daftar pustaka dan catatan kaki akan disusun secara otomatis sesuai dengan standar akademik.

        p.judul Tujuan kami:
        div.line
        p.child Kami berkomitmen untuk mempermudah pekerjaan mahasiswa dalam pembuatan makalah, sehingga Anda bisa lebih fokus pada konten dan analisis, bukan pada format.

        p.judul Keuntungan:
        div.line
        ul.list-child
          li
            strong Hemat Waktu: 
            | Dengan shortcut-docx, bisa menghemat waktu dalam proses penulisan dan format makalah.
          li
            strong Mudah Digunakan: 
            | Akses shortcut-docx dari laptop maupun handphone dengan mudah.
          li
            strong Efisiensi Maksimal: 
            | Alat ini dirancang untuk memberikan kemudahan dan efisiensi dalam setiap langkah pembuatan makalah.

        p _  
        p _  
        p _  
        p _  
        p _  
        p _ 
        p 
        div.line
        
  footer
    p SHORTCUT-DOCX
    p |
    a(href="https://docx.js.org/#/") docx library oleh Dolanmiu