extends layout

block content
   div.container-privasi
      h1 __Kebijakan Privasi
      div.pengenalan
        h2 Assalamu'alaikum Warahmatullahi Wabaraktuh 
        p Selamat datang di Shortcut-docx. Kami menghargai privasi Anda dan berkomitmen untuk melindungi informasi yang Anda berikan. Kebijakan Privasi ini menjelaskan bagaimana kami menangani data saat Anda menggunakan website kami.

      div.jenis-data
        h2 Jenis Data Yang Kami Kumpulkan 
        p Di Shortcut-docx, kami tidak mengumpulkan data pribadi atau sensitif dari pengguna. Kami menggunakan IndexedDB di sisi klien untuk menyimpan data sementara selama sesi penggunaan website. Data ini hanya digunakan untuk memproses dan menyimpan informasi yang Anda masukkan untuk membuat makalah.
        a(href="https://javascript.info/indexeddb", target="blank") Informasi Lebih Lanjut Tentang IndexedDB

      div.penggunaan-data
        h2 Penggunaan Data
        p Data yang Anda masukkan selama penggunaan website hanya digunakan untuk: 
        ul 
          li Memproses dan menyimpan informasi makalah Anda.
          li Pemulihan data kembali apabila Anda keluar dari website atau website melakukan memuat ulang halaman "Refresh".
          li Data akan tetap tersimpan selama Anda tidak menghapus data tersebut.
      
      div.tanggung-jawab
        h2 Tanggung Jawab Terhadap Data Pribadi 
        p Kami tidak bertanggung jawab jika Anda memasukkan data pribadi atau sensitif ke dalam website ini dengan tujuan selain dari pembuatan makalah. Kami menyarankan Anda untuk hanya memasukkan data yang relevan dengan pembuatan makalah dan apabila ada data pribadi atau data sensitif yang Anda inputkan, sebaiknya data tersebut dimasukkan setelah Anda mengunduh makalah Anda.

      div.keamanan-data
        h2 Keamanan Data 
        p Selama sisi penggunaan website kami, data yang Anda masukan memlaui kolom teks akan disimpan di perangkat Anda. Ketika Anda menekan tombol download, data yang tersimpan di perangkat akan di kirim ke server kami untuk di olah menjadi makalah yang telah terformat secara otomatis. Namun dikarenakan website kami masih tahap awal pengembangan sehingga kami masih belum bisa menjamin keamanan data-data yang Anda inputkan, maka oleh sebab itu kami mengharapkan kebijaksanaan Anda untuk tidak memasukan data pribadi atau data sensitif agar terhindar dari hal-hal yang tidak kita inginkan.

      div.perubahan
        h2 Perubahan Kebijakan Privasi
        p Kami dapat memperbarui kebijakan privasi ini di masa depan jika kami memutuskan untuk mengumpulkan data tambahan, seperti registrasi atau pembayaran. Setiap perubahan akan diumumkan di situs kami dan tanggal terakhir pembaruan akan diperbarui pada kebijakan ini.

      div.kontak-kami
        h2 Kontak Kami
        p Jika Anda memiliki pertanyaan atau kekhawatiran tentang kebijakan privasi ini, silakan hubungi di social media kami.
        a(href="/tentang-kami") klik disini untuk melihat social media kami