doctype html
html(lang="id")
  head
    title Shortcut-Docx: Buat Makalah Dengan Mudah
    meta(name="description", content="Shortcut-Docx membantu mahasiswa membuat makalah dengan mudah dan cepat, lengkap dengan format otomatis untuk bibliografi dan footnote.")
    meta(name="keywords", content="shortcut docx, makalah, format otomatis, bibliografi, footnote, kuliah, tugas, kampus, shortcut, docx, file, pdf, doc, jurnal, shortcut-docx, buat makalah otomatis, website format makalah otomatis, pembuatan makalah otomatis, cara cepat buat makalah, aplikasi untuk membuat makalah, cara otomatis format makalah, format makalah otomatis, shortcut-docx.com, tips mengerjakan tugas kuliah, cara cepat menyelesaikan tugas kuliah, aplikasi untuk tugas kuliah, cara mudah buat makalah, format tugas kuliah yang benar, contoh tugas kuliah, cara menyusun bibliografi, cara membuat footnote, aplikasi untuk mengatur referensi, cara buat tugas kuliah rapi, aplikasi untuk mahasiswa, alat bantu belajar mahasiswa, cara buat tugas akhir, penyusunan skripsi otomatis, panduan format tugas akhir, bantuan untuk makalah kuliah, aplikasi untuk format skripsi, cara cepat buat karya ilmiah, aplikasi untuk menyusun tugas akhir, makalah tentang, makalah contoh, makalah pdf, kata pengantar makalah, kata pengantar, makalah pendidikan, membuat makalah, makalah adalah, isi makalah, latar belakang, latar belakang makalah, jurnal, ai makalah, google scholar makalah, makalah sejarah, makalah yang benar, cover, cover makalah, judul makalah, makalah pancasila, daftar isi, daftar isi makalah, kesimpulan makalah, logo makalah, saran makalah", )
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="google-adsense-account", content="ca-pub-8651774057318404")
    meta(name="google-site-verification" content="6TI8rF7Z7oOJ0Zk3X1-HA8ICYhFEP9SL3-pTpUHXAIA")
    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8651774057318404", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css?v=1.0.6')
    link(rel="icon", type="image/x-icon", href="/images/logo.ico")
  
  body      
    div.navbar
      div.text-nav
        img.logo(src="../images/logo.ico", alt="Logo nya hilang")
        a.nav-text1(href='/') #{title}
        a.nav-text2(href='/home') Home
        a.nav-text1(href='/referensi') Referensi
        a.nav-text1(href='/tutorial') Tutorial

          //- cuman test, ini di push dari vs code/my laptop
      
      input.tgl-btn#nav-tgl-btn(type="checkbox")
      div.tgl-view
        p(style="display: none;") X
      div.drop-menu
        a.nav-text2.drop-menu-none(href='/home') Home
        a.nav-text1.drop-menu-none(href='/referensi') Referensi
        a.nav-text1.drop-menu-none(href='/tutorial') Tutorial
        a.nav-text1(href='/tentang-kami') Tentang Kami
        a.nav-text1(href='/kebijakan-privasi') Kebijakan Privasi
      
      //- #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a(aria-current='page',href='/home').nav-link.active Home
          //- li.nav-item
          //-   a(href='/setting').nav-link Setting
          //- li.nav-item
          //-   a(href='/about').nav-link About
          li.nav-item
            a(href='/referensi').nav-link Referensi
    .container-content(style="padding: 0; margin: 0;")
      block content
    
    script(src="../dist/bundle.js?v=1.0.6") 
    //- script(src="../javascripts/main.js", type="module") 
    //- script(src="../javascripts/referensi_set.js", type="module")
    //- script(src="../javascripts/client_save.js", type="module") 
    //- script(src="../javascripts/setting.js", type="text/javascript")
    //- script(src="../javascripts/format_editor.js", type="text/javascript")
