doctype html
html(lang="id")
  head
    title shortcut-docx
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/x-icon", href="/images/logo.ico")
  
  body      
    div.navbar
      div.text-nav
        img.logo(src="../images/logo.ico", alt="Logo nya hilang")
        a.nav-text1(href='/') #{title}
        a.nav-text2(href='/home') Home
        a.nav-text1(href='/referensi') Referensi
        a.nav-text1(href='/tutorial') Tutorial

          //- cuman test, ini di push dari vs code/my laptop
      
      input.tgl-btn#nav-tgl-btn(type="checkbox")
      div.tgl-view
        p(style="display: none;") X
      div.drop-menu
        a.nav-text2.drop-menu-none(href='/home') Home
        a.nav-text1.drop-menu-none(href='/referensi') Referensi
        a.nav-text1.drop-menu-none(href='/tutorial') Tutorial
        a.nav-text1(href='/tentang-kami') Tentang Kami
        a.nav-text1(href='/kebijakan-privasi') Kebijakan Privasi
      
      //- #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a(aria-current='page',href='/home').nav-link.active Home
          //- li.nav-item
          //-   a(href='/setting').nav-link Setting
          //- li.nav-item
          //-   a(href='/about').nav-link About
          li.nav-item
            a(href='/referensi').nav-link Referensi
    .container-content(style="padding: 0; margin: 0;")
      block content
    
    script(src="../javascripts/main.js", type="module") 
    script(src="../javascripts/referensi_set.js", type="module")
    script(src="../javascripts/client_save.js", type="text/javascript") 
    script(src="../javascripts/setting.js", type="text/javascript")
    script(src="../javascripts/format_editor.js", type="text/javascript")
