extends layout

block content
  div.container-about
    h1 |Tentang Kami____
    div.text-about
      a(href="#link-tutor-about") klik untuk menuju link social media
      div.line
      div.penjelasan-about
        h2 Assalamu'alaikum Warahmatullahi Wabarakatuh
        p Selamat datang di shortcut-docx yang merupakan website template generator makalah yang menghasilkan file docx/word dengan format yang telah disusun secara rapi termasuk footnote dan daftar pustakanya. Simpel nya website ini akan mengolah materi dan referensi yang anda inputkan menjadi makalah yang telah rapi dan menyusun format penulisannya secara otomatis. 
        
        p Website ini dibuat bertujuan untuk mempermudah mahasiswa dalam mengerjakan makalah. terutama mahasiswa yang tidak memiliki komputer ataupun laptop, maka dengan website shortcut-docx ini mereka dapat mengerjakannya melalui handphone dengan mudah dan cepat.

      div.kontak-about
        div.kontak
          h2 Profil Dan Kontak Pengembang

          div.line
          div.profil
            div.profil-text
              h3 Azwar Hamid
              div.h4-point
                h4 Skill Programing: Newbie
                h4 Role Yang Diminati: Backend
                h4 Status: Mahasiswa
              div.social-media
                p#link-tutor-about Social Media Kami
                div.line
                a(href="https://www.instagram.com/azwarhamid.public/", target="blank") Instagram

                a(href="https://www.youtube.com/@publicfunction1589/playlists", target="blank") YouTube

                a(href="https://github.com/ajoKinali03", target="blank") GitHub

                a(href="", terget="blank") TikTok
            div.profil-img
              | A.H
          //- h3  Hubungi Kami Melalui
          //- div.container-gmail

        
