extends layout

block content 
  h1#tutorial-page Bagaimana Cara Menggunakan SHORTCUT-DOCX?
      div.text
        ol.list
          li
            | Untuk pengguna laptop/komputer, akan tampil pada bagian atas (navbar) yaitu home dan referensi, sedangkan untuk pengguna handphone, Anda akan melihat tombol garis 3. Jika Anda menekannya, maka Anda dapat melihat home dan referensi.
          li
            strong HOME
            p
              | Pada bagian home, Anda akan diperlihatkan dengan dua bagian yaitu tombol dan tempat memasukkan teks. Untuk memasukkan teks, tolong diperhatikan beberapa hal berikut:
            ul.list-child
              li Teks minimal yang boleh dimasukkan sekitar 10 kata atau 70 karakter, dan maksimalnya sekitar 100000 karakter atau 100MB.
              li
                | Setiap memasukkan teks seperti sub bab atau paragraf teks, tolong untuk diperhatikan memberi 1x enter untuk pemisah di antara mereka.
                p CONTOH:
          li 
            strong REFERENSI 
            p
              |Apabila Anda ingin memasukkan referensi atau catatan kaki, pertama-tama tekan tombol referensi di samping tombol download. Setelah itu, akan tampil semua referensi yang telah Anda masukkan sebelumnya di bagian referensi. Silakan cari referensi yang ingin Anda gunakan dan tekan tombol copy untuk menyalin kode referensinya. Setelah itu, arahkan kursor teks pada bagian yang Anda inginkan seperti akhir paragraf, pertengahan, atau pada poin materi. Setelah itu, Anda dapat menempelkan kode referensi tersebut. Untuk pengguna laptop/komputer, dapat menekan klik kanan pada touchpad atau mouse dan pilih "paste" atau dapat menggunakan shortcut Ctrl+V. Untuk pengguna handphone, dapat tekan dan tahan pada bagian yang ingin ditempel dan akan muncul popup, lalu pilih tempel/paste.
          li
            | Jika telah selesai memasukkan materi dan referensi, silakan tekan tombol download untuk mengunduh file makalah DOCX Anda dan silakan disesuaikan untuk bagian lainnya sesuai selera.
          li
            | Jika Anda tidak memahami dengan apa yang telah kami jelaskan tadi, Anda dapat mengunjungi sosial media kami untuk melihat video tutorial kami dan juga update informasi tentang shortcut-docx.