//- extends layout

//- block content
//-   .container-setting
//-     input#mentahan-data-setting(type="hidden", placeholder=teks)
//-     .dashboard-setting
//-       .font-stting
//-     .parent-setting
//-       .child-setting
//-         textarea.textarea-setting#textarea-setting(style="padding: 5px;", rows="1", data-autoresize)